* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.score {
	padding: 1em;
}

.p1winner {
	color: green;
	background-color:lightgreen;
}

.p1looser {
	color: red;
	background-color: #BF0000;}

.p2winner {
	color: green;
	background-color: lightgreen;
}

.p2looser {
	color: red;
	background-color: #BF0000;
}
