* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.content-paragraph {
	display: flex;
	justify-content: space-around;
}

.scoreplayer1 {
	width: 25%;
	padding: 25vh;
	text-align: center;
	border: 0.1em solid black;
}

.scoreplayer2 {
	width: 25%;
	padding: 25vh;
	text-align: center;
	border: 0.1em solid black;
}

.score {
	padding: 1em;
}

.p1winner {
	color: green;
	background-color:lightgreen;
}

.p1looser {
	color: red;
	background-color: #BF0000;}

.p2winner {
	color: green;
	background-color: lightgreen;
}

.p2looser {
	color: red;
	background-color: #BF0000;
}
